In [69]:
import pandas as pd
import numpy as np

In [121]:
movies = pd.read_csv("/home/abdollatif/Desktop/Movie Recommender System/tmdb_5000_movies.csv")
credits = pd.read_csv("/home/abdollatif/Desktop/Movie Recommender System/tmdb_5000_credits.csv")

In [122]:
movies = movies.merge(credits,on='title')

In [123]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [124]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [125]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [126]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [127]:
movies.dropna(inplace=True)

In [128]:
movies.duplicated().sum()

0

In [129]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [130]:
import ast

In [131]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [132]:
movies['genres'] = movies['genres'].apply(convert)

In [133]:
movies['keywords'] = movies['keywords'].apply(convert)

In [134]:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [135]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [136]:
movies['cast'] = movies['cast'].apply(convert)

In [137]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [138]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [139]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [140]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
3912,5854,Family Plot,Lighthearted suspense film about a phony psych...,"[Comedy, Crime, Thriller]","[fortune teller, kidnapping, false identity, h...","[Barbara Harris, Bruce Dern, Karen Black]",[Alfred Hitchcock]
1122,64688,21 Jump Street,"In high school, Schmidt was a dork and Jenko w...","[Action, Comedy, Crime]","[male friendship, high school, parody, crude h...","[Channing Tatum, Jonah Hill, Brie Larson]","[Phil Lord, Christopher Miller]"
2436,109428,Evil Dead,"Evil Dead, the fourth installment of the Evil ...",[Horror],"[remake, demon, necronomicon, duringcreditssti...","[Jane Levy, Shiloh Fernandez, Lou Taylor Pucci]",[Fede Alvarez]
301,83542,Cloud Atlas,A set of six nested stories spanning time betw...,"[Drama, Science Fiction]","[clone, future, dystopia, ensemble cast, durin...","[Tom Hanks, Halle Berry, Jim Broadbent]","[Tom Tykwer, Lilly Wachowski, Lana Wachowski]"
3894,627,Trainspotting,"Renton, deeply immersed in the Edinburgh drug ...","[Drama, Crime]","[london england, alcohol, sex, based on novel,...","[Ewan McGregor, Ewen Bremner, Jonny Lee Miller]",[Danny Boyle]

In [141]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [142]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [143]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [147]:
new_df = movies[['movie_id','title','tags']]

In [158]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_24671/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [159]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [162]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')