In [36]:
import pandas as pd
import numpy as np

In [37]:
movies = pd.read_csv("/home/abdollatif/Desktop/Movie Recommender System/tmdb_5000_movies.csv")
credits = pd.read_csv("/home/abdollatif/Desktop/Movie Recommender System/tmdb_5000_credits.csv")

In [38]:
movies = movies.merge(credits,on='title')

In [39]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [40]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [41]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [42]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [43]:
movies.dropna(inplace=True)

In [44]:
movies.duplicated().sum()

0

In [45]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [46]:
import ast

In [47]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [48]:
movies['genres'] = movies['genres'].apply(convert)

In [49]:
movies['keywords'] = movies['keywords'].apply(convert)

In [50]:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [51]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [52]:
movies['cast'] = movies['cast'].apply(convert)

In [53]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [54]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [55]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [56]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1040,1624,Liar Liar,Fletcher Reede is a fast-talking attorney and ...,[Comedy],"[california, workaholic, birthday, lie, pregna...","[Jim Carrey, Maura Tierney, Cary Elwes]",[Tom Shadyac]
3332,14165,Ta Ra Rum Pum,"A poor New York resident, who is of Indian ori...","[Family, Comedy, Romance]","[new york, from rags to riches, family relatio...","[Saif Ali Khan, Rani Mukerji, Angelina Idnani]",[Siddharth Anand]
4471,10105,Saints and Soldiers,Five American soldiers fighting in Europe duri...,"[Action, Adventure, Drama, History, War]","[winter, belgium, world war ii, nazis, bravery...","[Larry Bagby, Alexander Polinsky, Kirby Heyborne]",[Ryan Little]
930,225574,Non-Stop,Bill Marks is a burned-out veteran of the Air ...,"[Action, Thriller, Mystery]","[airplane, conspiracy, airplane crash, cell ph...","[Liam Neeson, Julianne Moore, Scoot McNairy]",[Jaume Collet-Serra]
1433,11004,Wonder Boys,Grady (Michael Douglas) is a 50-ish English pr...,"[Comedy, Drama]","[adultery, robbery, based on novel, professor,...","[Michael Douglas, Tobey Maguire, Frances McDor...",[Curtis Hanson]

In [57]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [58]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [59]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [60]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [61]:
new_df = movies[['movie_id','title','tags']]

In [62]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_4223/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [63]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')